@model IEnumerable<OrderProcessingMVC.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1 class="d-flex justify-content-center name-table text-primary">Orders</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a class=" btn btn-outline-primary sort Order"  role="button">
                    @Html.DisplayNameFor(model => model.Number)
                </a>
            </th>
            <th>
                <a class=" btn btn-outline-primary sort Order" role="button">
                    @Html.DisplayNameFor(model => model.Date)
                </a>
            </th>
            <th>
                <a class=" btn btn-outline-primary sort Order" role="button">
                    @Html.DisplayNameFor(model => model.Provider)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="result">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Provider.Name)
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-primary" role="button" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-primary" role="button" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-primary" role="button" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


